---
filter:     haml
---
.article.hentry
  %h3.entry-title{:rel => 'bookmark'}= link_to_page(page)
  .entry-content~ render(page)
  .footer
    = atom_datestamp(page.created_at)
    &nbsp; | &nbsp; tagged:
    - page.tags.each do |tag|
      == <a href="/tags/#{tag}">#{tag}</a>
