          <h4>Recent</h4>
          <ul class="sidemenu">
            <li><a href="/2008/08/08/async-observer-with-rabbitmq">Async-Observer with RabbitMQ</a></li>
            <li><a href="/2008/07/16/specing-layouts">Specing Layouts</a></li>
            <li><a href="/2008/07/15/porting-rails-plugins-to-datamapper">Porting Rails Plugins to DataMapper</a></li>
            <li><a href="/2008/07/15/porting-rails-plugins-to-merb">Porting Rails Plugins to Merb</a></li>

            <li><a href="/2008/07/14/two-questions">Two Questions</a></li>
          </ul>

          <h4>Archive</h4>
          <ul class="sidemenu archive">
            <li>2008: <span class="months">
              JF<a href="/2008/3">M</a><a href="/2008/4">A</a><a href="/2008/5">M</a><a href="/2008/6">J</a><a href="/2008/7">J</a><a href="/2008/8">A</a>SOND
            </span></li>

            <li>2007: <span class="months">
              <a href="/2007/1">J</a><a href="/2007/2">F</a>M<a href="/2007/4">A</a><a href="/2007/5">M</a>JJASOND
            </span></li>
            <li>2006: <span class="months">
              JFMA<a href="/2006/5">M</a><a href="/2006/6">J</a>J<a href="/2006/8">A</a><a href="/2006/9">S</a>ON<a href="/2006/12">D</a>

            </span></li>
          </ul>

          <h4>Tags</h4>
          <ul class="sidemenu">
            <li><a href="/tag/blog">(7) blog</a></li>
            <li><a href="/tag/camping">(1) camping</a></li>
            <li><a href="/tag/datamapper">(2) datamapper</a></li>

            <li><a href="/tag/holmes">(2) holmes</a></li>
            <li><a href="/tag/linux">(1) linux</a></li>
            <li><a href="/tag/merb">(7) merb</a></li>
            <li><a href="/tag/osx">(1) osx</a></li>
            <li><a href="/tag/programming">(19) programming</a></li>
            <li><a href="/tag/rails">(13) rails</a></li>

            <li><a href="/tag/ruby">(12) ruby</a></li>
            <li><a href="/tag/seaside">(1) seaside</a></li>
            <li><a href="/tag/snippet">(1) snippet</a></li>
            <li><a href="/tag/specs">(2) specs</a></li>
          </ul>
