---
title:  Articles by Date
filter: haml
dirty:  true
---
#articles
  - articles = @pages.find(:all, :sort_by => "created_at", :reverse => true)
  - articles = by_year(articles)
  %table
    - articles.keys.sort.reverse.each do |year|
      - pages = articles[year]
      %tr
        %th= year
        %th &nbsp;
      - pages.each do |page|
        %tr
          %td= Time.parse(page.created_at).strftime('%b %e')
          %td= link_to page.title, page.url
