---
title:  Projects
filter: haml
---

%p
  I've got a number of projects on the go, some still alive, 
  others quite dead, and due to time constrains too many for 
  my tastes in a zombie limbo status.

#articles
  - projects = @pages.find(:all, :sort_by => "status", :reverse => true)
  - projects = by_status(projects)
  %table
    - %w(active inactive dead).each do |status|
      - pages = projects[status] || []
      %tr
        %th= status
        %th &nbsp;
      - pages.each do |page|
        %tr
          %td= link_to page.title, page.url
          %td= page.mtime.strftime('%b %e, %Y')
