<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
    {% feed_meta %}
    {% live_reload_dev_js %}
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal {{ page.layout }} {{ page.page_class }}">
    {% render "navbar", metadata: site.metadata, page: page %}

    <div class="container w-full md:max-w-3xl mx-auto pt-20 pb-10">
      {{ content }}
    </div>

    {% render "footer", metadata: site.metadata %}
    {% render "static_script" %}
  </body>

</html>
