<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
    {% feed_meta %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    {% render "navbar", metadata: site.metadata, page: page %}

    <main class="container">
      <div class="row g-5">
        <div class="col-md-9">
          {{ content }}
        </div>
        <div class="col-md-3">
          <div class="position-sticky" style="top: 2rem;">
            {% render "sidebar", metadata: site.metadata, page: page %}
          </div>
        </div>
      </div>
    </main>

    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </footer>

    <script data-goatcounter="https://tracefunc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>

</html>
