---
layout: page
---

{% if page.backlinks %}
  <div class="float-right mx-4 mt-4 px-4 pb-2 border-solid border-l-2 border-gray-500">
    <h4 class="pt-0">Pages Linking Here</h4>
    <ul>
      {% for link in page.backlinks %}
        <li><a href="{{ link.relative_url }}" class="wikilink">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div id="content" class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
  <div id="article">
    <div class="font-sans mb-8">
      {{ page.content }}
    </div>
  </div>
</div>
