---
layout: default
---

<div id="content" class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
  <div id="article">
    {% render "post", post: page, full: true %}
  </div>
</div>

<!--Next & Prev Links-->
<div class="font-sans flex justify-between content-center px-4 pb-12">
  <div class="text-left">
    {% if page.previous %}
    <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>
    <p><a href="{{ page.previous.url }}"
        class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
        {{ page.previous.title }}
      </a></p>
    {% endif %}
  </div>
  <div class="text-right">
    {% if page.next %}
    <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>
    <p><a href="{{ page.next.url }}"
        class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
        {{ page.next.title }}
      </a></p>
    {% endif %}
  </div>
</div>
<!--/Next & Prev Links-->
