---
layout: default
---

<div id="content" class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
  <div id="article">
    {% render "post", post: page, full: true %}
  </div>
</div>

<!--Next & Prev Links-->
<% if current_article %>
<% next_article = current_article.article_next %>
<% prev_article = current_article.article_previous %>
<div class="font-sans flex justify-between content-center px-4 pb-12">
  <div class="text-left">
    <% if prev_article %>
    <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>
    <p><a href="<%= prev_article.url %>"
        class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
        <%= prev_article.title %>
      </a></p>
    <% end %>
  </div>
  <div class="text-right">
    <% if next_article %>
    <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>
    <p><a href="<%= next_article.url %>"
        class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
        <%= next_article.title %>
      </a></p>
    <% end %>
  </div>
</div>
<% end %>
<!--/Next & Prev Links-->
