@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prettier */
.prettycontainer {
  @apply text-xs
}
pre.prettylines {
  font: 1.3em 'Lucida Console', 'courier new', monospace;
  float: left;
  padding: 0 3px;
  margin: 0px;
  text-align: right;
  margin-right: 10px;
}
.prettyprint code, blockquote {
  padding: 1em;
  border: 1px solid #E5F0FB;
  background: #F4F8FD;
}
.prettyprint code {
  display: block;
  overflow: auto;
  font: 1.3em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
}

.str { color:#181; font-style:italic }
.kwd { color:#369 }
.com { color:#666 }
.typ { color:#c40 }
.lit { color:#900 }
.pun { color:#000; font-weight:bold  }
.pln { color:#333 }
.tag { color:#369; font-weight:bold  }
.atn { color:#939; font-weight:bold  }
.atv { color:#181 }
.dec { color:#606 }


/* Other Crap */
label {
  float: left;
  width: 100px;
  line-height: 33px;
}
select {
  width: 300px;
  height: 19px;
  margin: 7px;
}
.datetime select {
  width: auto;
  margin: 7px 3px;
}


/* Headers */
.entry-content h1, .entry-content h2, .entry-content h3 { font-family: 'Trebuchet MS', Tahoma, Sans-serif;  }
.entry-content h1 {
	font-size: 180%;	
	font-weight: normal;	
	color: #ff1c00;
}
.entry-content h2 {
	font-size: 160%;
	color: #ff6600;
	font-weight: normal;
}
.entry-content h3 {
	font-size: 135%;	
	color: #88ac0b;
}

/* Articles */
.article {
  margin-bottom: 20px;
}
.article .meta {
  background: #F4F8FD;
  padding: 5px 5px 5px 10px;
  margin: 0 25px 20px 25px;
  border: 1px solid #E5F0FB;
  font-size: 95%;
}
.article .by {
  font-size: .95em;
  margin-top: 0;
  margin-left: 10px;
}
#articles .extended {
  display: none;
}

/* Comments */

#article #comments .what {
  display: none;
}

/* Links */
.entry-content a,
.entry-content a:visited,
.meta a,
.meta a:visited,
#sidebar p a,
#sidebar p a:visited {
	text-decoration: none;
	background: inherit;
	color: #FB9233;
}
.entry-content a:hover,
.article .meta a:hover,
#sidebar p a:hover {
	text-decoration: underline;
	background: inherit;
	color: #93C600;
}
a.anchor {
  text-decoration: none;
}
