@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prettier */
.prettycontainer {
  @apply text-xs;
}
pre.prettylines {
  font: 1.3em 'Lucida Console', 'courier new', monospace;
  float: left;
  padding: 0 3px;
  margin: 0px;
  text-align: right;
  margin-right: 10px;
}
.prettyprint code, blockquote {
  padding: 1em;
  border: 1px solid #E5F0FB;
  background: #F4F8FD;
}
.prettyprint code {
  display: block;
  overflow: auto;
  font: 1.3em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
}

.str { color:#181; font-style:italic }
.kwd { color:#369 }
.com { color:#666 }
.typ { color:#c40 }
.lit { color:#900 }
.pun { color:#000; font-weight:bold  }
.pln { color:#333 }
.tag { color:#369; font-weight:bold  }
.atn { color:#939; font-weight:bold  }
.atv { color:#181 }
.dec { color:#606 }

/* Apply some styles globally to markdown-converted content */
#articles p, #article p {
  @apply my-4;
}
p code {
  @apply text-base;
  @apply px-1;
  color: #369;
  border: 1px solid #ccc;
}
