---
layout: page
title: Archives by Date
---

<h2>Posts by Date</h2>
<div id="articles">
  <table class="table-auto border-b">
    <% year = nil %>
    <% collections.posts.resources.each_with_index do |entry, i| %>
      <tr>
        <% if entry.date.year != year %>
          <% year = entry.date.year %>
          <th><%= year %></th>
        <% else %>
          <th>&nbsp;</td>
        <% end %>
        <td><%= entry.date.strftime('%b %e') %></td>
        <td><a href="<%= entry.relative_url %>"><%= entry.data['title'] %></a></td>
      </tr>
    <% end %>
  </table>
</div>
