<footer class="bg-white border-t border-gray-400 shadow">
  <div class="container max-w-4xl mx-auto flex py-8">

    <div class="w-full mx-auto flex flex-wrap justify-between">
      <div class="flex w-full md:w-1/5">
        <div class="px-8 mt-10">
          <img class="rounded-full mr-4" src="/assets/memoji.png" alt="Avatar of Author">
        </div>
      </div>
      <div class="flex w-full md:w-3/5">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">About</h3>
          <p class="my-4 text-gray-600 text-sm">
            Jamie is a senior software engineer with over 15 years experience
            in the Ruby and Rails ecosystems, largely on the back-end.
          </p>
          <p class="my-4 text-gray-600 text-sm">
            Husband, father, gamer, and all-around geek. Ask about my latest
            3d print, or toy software project.
          </p>
          <p class="text-gray-500 text-xs md:text-base">Minimal Blog Tailwind CSS template by <a
              class="text-teal-400 no-underline hover:underline"
              href="https://www.tailwindtoolbox.com">TailwindToolbox.com</a>
          </p>
        </div>
      </div>
      <div class="flex flex-row-reverse w-full md:w-1/5">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">&nbsp;</h3>
          <ul class="list-reset items-center text-sm pt-3">
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                href="https://github.com/jamie/">Github</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                href="/static/jamie-macey/">Resume</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                href="https://www.linkedin.com/in/jamiemacey/">Linkedin</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                href="mailto:jamie.blog@tracefunc.com">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>
