<header>
  <nav>
    <ul>
      <li><h1><a href="/">set_trace_func</a></h1></li>
      <!-- The following float right, and are defined right-to-left -->
      <li class="float-right"><a href="/notes/">Notes</a></li>
      <li class="float-right"><a href="/projects/">Projects</a></li>
      <li class="float-right"><a href="/tags/">Tags</a></li>
      <li class="float-right"><a href="/archive/">Archive</a></li>
    </ul>
  </nav>
</header>
