<aside>
{% if page.backlinks %}
  <div>
    <h4>Backlinks</h4>
    <ul>
      {% for link in page.backlinks %}
        <li><a href="{{ link.relative_url }}" class="wikilink">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div>
  <h4>About</h4>
  <picture class="float-end w-50 rounded-circle">
    <source srcset="/assets/memoji.webp" type="image/webp">
    <source srcset="/assets/memoji.jpeg" type="image/jpeg">
    <img src="/assets/memoji.png" alt="Avatar of Author" loading="lazy" class="w-100">
  </picture>

  <p>Jamie Macey is a senior software engineer with over 15 years experience
            in the Ruby and Rails ecosystems, largely on the back-end.</p>
  <p class="mb-0">Husband, father, gamer, and all-around geek. Ask about my latest
            3d print, or toy software project.</p>
</div>

<div>
  <h4>Elsewhere</h4>
  <ol class="list-unstyled">
    <li>
      <a href="https://github.com/jamie/"">GitHub</a>
    </li>
    <li style="display: none;">
      <a rel="me" href="https://ruby.social/@jamie_ca">Mastodon</a>
    </li>
    <li>
      <a href="/static/jamie-macey/">Resume</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jamiemacey/">Linkedin</a>
    </li>
    <li>
      <a href="mailto:jamie.blog@tracefunc.com">Contact</a>
    </li>
  </ol>
</div>
</aside>
