<div class="p-4 mb-3 mt-3 bg-light rounded">
  <h4 class="fst-italic">About</h4>
  <picture class="float-end w-50 rounded-circle">
    <source srcset="/assets/memoji.webp" type="image/webp">
    <source srcset="/assets/memoji.jpeg" type="image/jpeg">
    <img src="/assets/memoji.png" alt="Avatar of Author" loading="lazy" class="w-100">
  </picture>

  <p>Jamie Macey is a senior software engineer with over 15 years experience
            in the Ruby and Rails ecosystems, largely on the back-end.</p>
  <p class="mb-0">Husband, father, gamer, and all-around geek. Ask about my latest
            3d print, or toy software project.</p>
</div>

{% if page.backlinks %}
  <aside class="p-4">
    <h4 class="fst-italic">Pages Linking Here</h4>
    <ul class="list-unstyled">
      {% for link in page.backlinks %}
        <li class="pb-1"><a href="{{ link.relative_url }}" class="wikilink">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}

<div class="p-4">
  <h4 class="fst-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li>
      <a href="https://github.com/jamie/"">GitHub</a>
    </li>
    <li>
      <a href="/static/jamie-macey/">Resume</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jamiemacey/">Linkedin</a>
    </li>
    <li>
      <a href="mailto:jamie.blog@tracefunc.com">Contact</a>
    </li>
  </ol>
</div>
